name: hi

on:
  push:
    tags:
      - 'v*'
  workflow_run:
    workflows: [ "production-release" ]
    types:
      - completed

jobs:
  verify:
    name: Github Actions 배포 상태 체크
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event_name == 'workflow_run' }}
    steps:
      - name: Github Actions 배포 성공
        run: exit 0

  init:
    name: 성공시 트리거
    needs: verify
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Extract Tag
        id: tag
        run: |
          echo "VERSION: ${GITHUB_REF/refs\/tags\//}"
          echo "VERSION: $(git tag --list --sort=-v:refname | head -1)"
          echo "VERSION=`echo $(git tag --list --sort=-v:refname | head -1)`" >> $GITHUB_OUTPUT

      - name: Checkout-new-tag
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ steps.tag.outputs.VERSION }}

      - name: hi
        run: |
          echo "hello world"
          echo ${{ github.event_name }}
          echo ${{ github.ref }}
          echo ${{ github.repository }}
          echo ${{ github.workspace }}
          echo ${{ startsWith(github.event.workflow_run.conclusion, 'success') && startsWith(github.event_name, 'workflow_run') }}
        if: startsWith(github.event.workflow_run.conclusion, 'success') && startsWith(github.event_name, 'workflow_run')
